*{
    border: none;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(136, 179, 245);
}
#form-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    
}
#form-container>#input-area{
    display: flex;
    flex-direction: column;
    
    width: 70%;
    
}
#form-container>button{
    height: 50px;
    margin-top: 50%;
    margin-left: 20px;
    transform: translateY(-50%);
    background-color: aqua;
}

#form-container>#input-area>input{
    margin-bottom: 10px;
    height: 30px;
    border: 2px solid green;
}